@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$media-screen: 768px;

:root {
  --clr-primary: hsl(254, 88%, 90%);
  --clr-primary-variant: hsl(256, 67%, 59%);
  --clr-secondary: hsl(31, 66%, 93%);
  --clr-secondary-variant: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --font-family: "DM Sans", sans-serif;
  --font-size-body: 1rem;
  --font-size-heading: 2.25rem;
  --line-height-body: 1.5;
  --line-height-heading: 1.2;

  --container-max-width: 1110px;
  --container-padding-mobile: 1.5rem;
  --container-padding-desktop: 2rem;

  --space-0: 0.5rem;
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2rem;
  --space-4: 3rem;
  --space-5: 4rem;
  --space-6: 5rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  background-color: var(--white);
  color: var(--black);
}
.container {
  max-width: var(--container-max-width);
  margin: 0;
  padding: var(--container-padding-mobile);

  @media (min-width: $media-screen) {
    padding: var(--container-padding-desktop);
  }
}
