@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --clr-primary: hsl(254, 88%, 90%);
  --clr-primary-variant: hsl(256, 67%, 59%);
  --clr-secondary: hsl(31, 66%, 93%);
  --clr-secondary-variant: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --font-family: "DM Sans", sans-serif;
  --font-size-body: 1rem;
  --font-size-heading: 2.25rem;
  --line-height-body: 1.5;
  --line-height-heading: 1.2;
  --container-max-width: 1110px;
  --container-padding-mobile: 1.5rem;
  --container-padding-desktop: 2rem;
  --space-0: 0.5rem;
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2rem;
  --space-4: 3rem;
  --space-5: 4rem;
  --space-6: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  background-color: #ececec;
  color: var(--black);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding-mobile);
  display: grid;
  gap: var(--space-1);
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h";
}
@media (min-width: 768px) {
  .container {
    padding: var(--container-padding-desktop);
    grid-template-areas: "g a a d" "h b c d" "h f e e";
    min-width: none;
    min-height: 0;
  }
}

img {
  max-width: 100%;
}

.card {
  padding: var(--space-3);
  border-radius: var(--space-0);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.card .title {
  font-size: var(--font-size-heading);
}
.card .sub__title {
  font-size: 1.25rem;
}
.card.card-a {
  grid-area: a;
  background-color: var(--clr-primary-variant);
  color: var(--white);
  text-align: center;
}
.card.card-a strong {
  color: var(--clr-secondary-variant);
  font-size: 3rem;
}
.card.card-b {
  grid-area: b;
}
.card.card-c {
  grid-area: c;
  background-color: var(--clr-secondary-variant);
}
@media (min-width: 768px) {
  .card.card-c {
    overflow: hidden;
  }
  .card.card-c img {
    transform: translateY(90%);
  }
}
.card.card-d {
  grid-area: d;
  background-color: var(--clr-primary);
}
@media (min-width: 768px) {
  .card.card-d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card.card-d div {
    overflow: hidden;
    align-self: stretch;
    transform: translateX(16%);
  }
  .card.card-d div img {
    height: 100%;
    width: 100%;
    transform: translateX(37.5%);
  }
}
.card.card-e {
  grid-area: e;
  background-color: var(--clr-primary-variant);
  color: var(--white);
  text-align: center;
}
@media (min-width: 768px) {
  .card.card-e {
    display: flex;
    align-items: center;
  }
  .card.card-e div {
    flex: 1;
  }
  .card.card-e .title {
    flex: 1;
    font-size: 1.5rem;
  }
}
.card.card-f {
  grid-area: f;
}
.card.card-g {
  grid-area: g;
  background-color: var(--clr-secondary);
}
.card.card-g span {
  color: var(--clr-primary-variant);
}
.card.card-h {
  grid-area: h;
  background-color: var(--clr-secondary-variant);
}

/*# sourceMappingURL=styles.css.map */
